<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="container">
        <div class="box">
            <div class="box1">
                <h2>Welcome to</h2>
                <h1 style="color: rgb(10, 68, 89);">Gamers' Almanac</h1>
                <p style="font-weight: 100;">Here, I've used Express to build a simple yet powerful web platform.
                    Whether you're new to coding or a seasoned developer, I've designed this application to be
                    user-friendly and easy to navigate.
                    Join me as we explore the world of web development together!</p>
            </div>
            <div class="box2">
                <div class="box3"
                    style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                    <div class="login-container">
                        <h2 style="font-weight: lighter;">Login</h2>
                        <form action="/login" method="POST">
                            
                            <input type="email" name="email" id="form-ex3" class="input-field" placeholder="E-Mail">
                            <input type="password" name="password" id="form-ex4" class="input-field"
                                placeholder="Password">
                            <input type="submit" class="btn" value="LOGIN">
                            <div class="text-center">
                                <p>Don't have an account yet? <a href="/register">Register</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>